# Configuration file

general {
    # If true, always draw implicit dependency. This property can be changed by the GUI [default: false]
    B:"Always draw implicit dependency"=false

    # If true, then when you click on Claim all, a warning dialog will be displayed [default: true]
    B:"Claim all requires confirmation"=true

    # Is quest chapters list locked and opened on start. [default: false]
    B:"Lock tray"=false

    # Clamps the max UI height (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Height"=-1

    # Clamps the max UI width (-1 to disable) [range: -1 ~ 2147483647, default: -1]
    I:"Max GUI Width"=-1

    # Enabled the popup notices when quests are completed or updated [default: true]
    B:"Quest Notices"=true

    # Scrolling multiplier [range: 0.0 ~ 10.0, default: 1.0]
    S:"Scroll multiplier"=1.0
    B:"Skip home"=false

    # Correcting the width of split text [range: 0.01 ~ 10.0, default: 1.0]
    S:"Text Width Correction"=1.0
    S:Theme=betterquesting:dark

    # Jumps the user to the last opened quest [default: true]
    B:"Use Quest Bookmark"=true

    # If true, user can view not-yet-unlocked quests that are not hidden or secret. This property can be changed by the GUI. [default: false]
    B:"View mode"=false

    # If true, view mode will display the quest line regardless of whether the quest line is unlocked yet. [default: true]
    B:"View mode all quest line"=true

    # If true, show view mode button. [default: false]
    B:"View mode button"=false

    # Zoom Speed [range: 1.05 ~ 3.0, default: 1.25]
    S:"Zoom Speed"=1.25

    # Zoom in on cursor. If false, zooms in on center of screen. [default: true]
    B:"Zoom in on cursor"=true

    # Zoom out on cursor. If false, zooms out on center of screen. [default: true]
    B:"Zoom out on cursor"=true

    # Zoom smoothness in ms [range: 0.0 ~ 2000.0, default: 100.0]
    S:"Zoom smoothness in ms"=100.0
}


