# Configuration file

general {
    # Item IDs that shine light when dropped in the World.
    S:LightItems=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,BiomesOPlenty:biomeFinder=10,easycoloredlights:easycoloredlightsCLStone=-1,arsmagica2:VinteumTorch,TConstruct:decoration.stonetorch,VillageNames:prismarine_crystals,VillageNames:sea_lantern,ThermalFoundation:bucket=8,GalacticraftCore:tile.glowstoneTorch,GalacticraftCore:tile.arclamp,GalaxySpace:item.GlowstoneDusts=10,ExtraUtilities:color_lightgem=12,GalaxySpace:proteusglowstone=12,GalaxySpace:ceresglowstone=12,GalaxySpace:plutoglowstone=12,GalaxySpace:enceladusglowstone=12,GalaxySpace:ioglowstone=12

    # Item IDs that do not shine light when dropped and in water, have to be present in LightItems.
    S:TurnedOffByWaterItems=torch,lava_bucket
    I:"disabled dimension ids" <
        -100
     >

    # Update Interval time for all Item entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


