# Configuration file

~CONFIG_VERSION: 0.1.5

_general {
    # Set this to false to fully disable the mod. [default: true]
    B:enabled=true

    # Apply changes made in the config file immediately without having to manually reload the renderer. Off by default because it could potentially cause poor performance on certain platforms. [default: false]
    B:hotswap=false
}


debug {
    # The LWJGL keycode of the key that has to be held down while pressing the debug keybinds. Setting this to 0 will make the keybinds usable without holding anything else down. Setting this to -1 will disable debug keybinds entirely. [range: -1 ~ 2147483647, default: 62]
    I:debugPrefix=62

    #  [range: -1 ~ 2147483647, default: -1]
    I:maxMeshesPerFrame=-1

    # Set this to false to stop showing the debug info in the F3 overlay. [default: true]
    B:showDebugInfo=true

    #  [default: false]
    B:wireframe=false
}


misc {
    # Don't warn about incompatibilities in chat, and activate renderer even in spite of critical ones. [default: false]
    B:ignoreIncompatibilities=false

    # Replace splash that says 'OpenGL 1.2!' with 'OpenGL 3.3!'. Just for fun. [default: true]
    B:replaceOpenGLSplash=true
}


render {
    # VRAM buffer size (MB). 512 seems to be a good value on Normal render distance. Increase this if you encounter warnings about the VRAM getting full. Does not affect RAM usage. [range: 1 ~ 2147483647, default: 512]
    I:VRAMSize=512

    # Don't submit faces for rendering if they are facing away from the camera. Reduces GPU workload at the cost of increasing driver overhead. This will improve the framerate most of the time, but may reduce it if you are not fillrate-limited (such as when playing on a small resolution). [default: true]
    B:cullFaces=true

    # Don't render meshes that are shrouded in fog. OptiFine also does this when fog is turned on, this setting makes Neodymium follow suit. [default: true]
    B:fogOcclusion=true

    # Do fog occlusion even if fog is disabled. [default: false]
    B:fogOcclusionWithoutFog=false

    # Render fog? Slightly reduces framerate. `auto` means the OpenGL setting will be respected (as set by mods like OptiFine).
    # Valid values: true, false, auto [default: auto]
    S:renderFog=auto

    # Store texture coordinates as shorts instead of floats. Slightly reduces memory usage and might improve performance by small amount. Might affect visuals slightly, but it's only noticable if the texture atlas is huge. [default: false]
    B:shortUV=false

    # Simplify chunk meshes so they are made of less vertices. Reduces vertex count at the cost of increasing shader complexity. It seems to reduce performance overall. [default: false]
    B:simplifyChunkMeshes=false

    # Interval (in frames) between the sorting of transparent meshes. Increasing this will reduce CPU usage, but also increase the likelyhood of graphical artifacts appearing when transparent chunks are loaded. [range: 1 ~ 2147483647, default: 1]
    I:sortFrequency=1
}


