# Configuration file

general {
    # Mod files placed in this folder will get copied into the mods folder during launch, if they're not there already. After copying, you will need to re-launch the game to load the copied mods. See the "Throw Exception On Mods Copied" config option. [default: mods-carryover]
    S:"Mods Carryover Folder"=mods-carryover

    # Each line should specify a target file, followed by a pipe, followed by a config value to assign.
    # Example: options.txt|renderDistance:10
    #  [default: []]
    S:"Options Enforcement" <
        optionsof.txtofLoadFar:false
        optionsof.txt|ofPreloadedChunks:0
        optionsof.txt|ofChunkUpdatesDynamic:false
        optionsof.txt|ofSmoothWorld:false
        optionsof.txt|ofChunkUpdates:1
        optionsof.txt|ofChunkLoading:0
        optionsof.txt|ofClearWater:true
        optionsof.txt|ofDepthFog:false
        optionsof.txt|ofLazyChunkLoading:false
        optionsof.txt|ofFastMath:false
        optionsof.txt|ofFastRender:false
        optionsof.txt|resourcePacks:["ProjectRed-Thaumcraft.zip","HEE+Music+v1.0.zip"]
     >

    # Reloads your Resource Packs at the main menu screen if they have changed as a result of Options Enforcement values [default: true]
    B:"Reload Resource Packs On Changed"=true

    # If true, crashes the game with a ModsCopiedException if any files were copied to the mods folder from the folder specified in "Mods Carryover Folder", so that you can restart the game and load those mods faster than waiting until the main menu. If false, you'll instead get a reminder to restart right before the main menu. [default: false]
    B:"Throw Exception On Mods Copied"=false

    # List of canonical class paths for screens that count as title screens. These screens will be candidates for interruption with a warning message whenever mods are copied from the Mods Carryover Folder folder. This is primarily intended for packs that use a non-vanilla title screen. [default: [net.minecraft.client.gui.GuiMainMenu]]
    S:"Title Class Paths" <
        net.minecraft.client.gui.GuiMainMenu
     >

    # Displays a client-side chat message on login if there's an update available. [default: true]
    B:"Version Checker"=true
}


