# Configuration file

"drop items from generators" {
    B:"Other Options"=true
}


enchantments {
    I:"Enchantment ID: Backstab"=69
    I:"Enchantment ID: Gemstone Brittle"=65
    I:"Enchantment ID: Gemstone Potency"=64
    I:"Enchantment ID: Invisible Gear"=66
    I:"Enchantment ID: Ride Protection"=70
    I:"Enchantment ID: Soulbound"=71
    I:"Enchantment ID: Stealth"=68
    I:"Enchantment ID: Unveiling"=67
    B:"Soul Tether handles Baubles inventory"=true
    B:"Soul Tether handles Galacticraft inventory"=true
}


modules {
    B:"Enable Bags"=true
    B:"Enable Cloak of Voluminous Pockets"=true
    B:"Enable Cloaks"=true
    B:"Enable Enderlinked Bag"=true
    B:"Enable Gemcutting"=true
    B:"Enable Hungry Bag"=true
    B:"Enable Kamas and variants"=true
    B:"Enable Mantle of the Raven"=true
    B:"Enable Primordial gear and weapons"=true
    B:"Enable Spectral Mantle"=true
    B:"Enable Voidlinked Bag"=true
    B:"Enable Wolven Cloak"=true
}


"ore/crucible" {
    B:"Enable clusters"=true
    B:"Enable transmutations"=true
    I:"Smeltery Result for Clusters"=432
    S:"Trippling Cluster List" <
        Aluminum
        Cobalt
        Ardite
        Nickel
        Platinum
        FZDarkIron
     >
}


other {
    S:"Valid generation bases: EldritchRing" <
        minecraft:stone
        minecraft:sand
        minecraft:packed_ice
        minecraft:grass
        minecraft:gravel
        minecraft:dirt
     >
    S:"Valid generation bases: HilltopStones" <
        minecraft:stone
        minecraft:sand
        minecraft:packed_ice
        minecraft:grass
        minecraft:gravel
        minecraft:dirt
     >
}


"other options" {
    B:"Allow FocusPouch active ability"=true
    B:"Allow modifications to newly applied PotionEffects"=true
    I:"Cloak Animation Mode"=2
    B:"Dis-/enable repairing the Boots of the Traveller with leather"=true
    B:"Dis-/enable the modification of looting and fortune modifications with the Ring of the Covetous Coin"=true
    B:"Drop Items from Generators"=false
    B:"Enable Terraformer"=true
    B:"Enable repairing the Boots of the Traveller with leather"=true
    B:"Enable the modification of looting and fortune modifications with the Ring of the Covetous Coin"=true
    S:"Selection Radial Speed"=0.15
    I:"Smeltery Result for Clusters"=432
}


potions {
    I:"Potion ID: Cinder Coat"=115
    I:"Potion ID: Dissolve"=114
    I:"Potion ID: Knockback Resistance"=57
}


search {
    B:"Enables the search function in the Thaumonomicon"=true
    B:"Limit Thaumonomicon Search to currently active category"=false
}


