# Configuration file

angelica {
    # Replace the Thaumonomicon's font rendering with Angelica's, using settings that should improve the appearance of text. [default: true]
    B:replaceTCFontRenderer=true
}


aspectrecipeindex {
    # Register an NEI handler for the wand cap substitution feature. Requires _enabledreplaceWandCapsResearch to be enabled in salisarcana/enhancements.cfg [default: true]
    B:capReplacementNEIHandler=true

    # Register an NEI handler for the wand core substitution feature. Requires _enabledreplaceWandCoreResearch to be enabled in salisarcana/enhancements.cfg [default: true]
    B:coreReplacementNEIHandler=true
}


"baubles|expanded" {
    # Add a special bauble slot specifically for the Focus Pouch. [default: true]
    B:focusPouchSlot=true
}


general {
    # Settings for compatibility with Baubles|Expanded. [default: true]
    B:"Baubles|Expanded"=true

    # Settings for compatibility with UndergroundBiomes. [default: true]
    B:UndergroundBiomes=true

    # Settings for compatibility with angelica. [default: true]
    B:angelica=true

    # Settings for compatibility with aspectrecipeindex. [default: true]
    B:aspectrecipeindex=true

    # Settings for compatibility with gtnhtcwands. [default: true]
    B:gtnhtcwands=true
}


gtnhtcwands {
    # Require screws and conductors to swap wand/staff cores. [default: true]
    B:coreSwapMaterials=true

    # Use the increased vis costs from GTNHTCWands. [default: true]
    B:cost=true
}


undergroundbiomes {
    # Allow the primal crusher to mine UBC slabs. [default: true]
    B:primalCrusherMinesSlabs=true
}


