# Configuration file

general {
    # The maximum percentage of the crucible's total aspect count that will be removed per second. [range: 0.01 ~ 100.0, default: 4.2]
    S:crucibleAspectDecayMaximumRate=4.2

    # The range, in aspect count, between the point scaling aspect decay starts and the point it reaches its maximum rate. [range: 0 ~ 2147483647, default: 800]
    I:crucibleAspectDecayRange=800

    # The total aspect count of a crucible at which point the scaling aspect decay will start. [range: 0 ~ 2147483647, default: 200]
    I:crucibleAspectDecayStart=200

    # If true, the crucible's contained aspects will decay at an increasing rate based on how overfull the crucible is.
    # All over full decay will break down compound aspects into one of their components.
    #  [default: true]
    B:crucibleScalingAspectDecay=true

    # If true, disables the tinting of aspect images, this can be useful in combination with resource packs
    # that provide images that are already colored. [default: false]
    B:disableAspectTint=false

    # When right-clicking a Research Note made from Knowledge Fragments, will use a random value not dependent on the world's time of day. [default: true]
    B:hiddenResearchUseWorldRandom=true

    # If true, Thaumcraft particles will behave like vanilla particles and pause when the game is paused. [default: true]
    B:pauseTCParticlesWithGame=true
}


node_behaviors {
    # If true, the radius within which hungry nodes can break blocks and attract entities will scale with the current
    # amount of vis of the node. [default: false]
    B:hungryDynamicReach=false

    # If true, the rate at which hungry nodes will try to break blocks will be adjusted by their modifier: 20% more
    # often when bright, 20% less often when pale, 50% less often when fading. [default: true]
    B:hungryModifierSpeed=true

    # If true, the radius within which pure nodes will convert their surroundings to Magical Forest will scale with
    # the current amount of vis of the node. Small pure nodes that are embedded in silverwood logs will have roughly
    # the same range as with this setting disabled. [default: false]
    B:pureDynamicReach=false

    # If true, the rate at which pure nodes will convert their surroundings to Magical Forest will be adjusted by
    # their modifier: 20% more often when bright, 20% less often when pale, 50% less often when fading. [default: true]
    B:pureModifierSpeed=true

    # If true, the radius within which sinister nodes will convert their surroundings to the Eerie biome will scale
    # with the current amount of vis of the node. [default: false]
    B:sinisterDynamicReach=false

    # If true, the rate at which sinister nodes will convert their surroundings to the Eerie biome and attempt to
    # spawn furious zombies will be adjusted by their modifier: 20% more often when bright, 20% less often when pale,
    # 50% less often when fading. [default: true]
    B:sinisterModifierSpeed=true

    # If true, the radius within which tainted nodes will convert their surroundings to Tainted Lands and spawn taint
    # tendrils will scale with the current amount of vis of the node. [default: false]
    B:taintedDynamicReach=false

    # If true, the rate at which tainted nodes will convert their surroundings to Tainted Lands and spawn taint
    # tendrils will be adjusted by their modifier: 20% more often when bright, 20% less often when pale, 50% less
    # often when fading. [default: true]
    B:taintedModifierSpeed=true
}


##########################################################################################################
# potion_ids
#--------------------------------------------------------------------------------------------------------#
# Override the ids of Thaumcraft's potion effects. An id not overridden, or that cannot be assigned to its
# overridden id, here will be automatically assigned to the lowest unclaimed id as normal.
# 
# WARNING: Do not set any of these values to 128 or higher unless you are using a mod that increases the
# maximum potion id. If you are, and would like to set these ids to 128 or higher, set
# `_uncapped_potion_ids` to `true`.
##########################################################################################################

potion_ids {
    # If true, will allow setting potion ids to 128 and higher. [default: false]
    B:_uncapped_potion_ids=false

    # Override the id of the Blurred Vision potion effect. [range: -1 ~ 2147483647, default: -1]
    I:blurredVisionId=-1

    # Override the id of the Deadly Gaze potion effect. [range: -1 ~ 2147483647, default: -1]
    I:deadlyGazeId=-1

    # Override the id of the Flux Flu potion effect. [range: -1 ~ 2147483647, default: -1]
    I:fluxFluId=-1

    # Override the id of the Flux Phage potion effect. [range: -1 ~ 2147483647, default: -1]
    I:fluxPhageId=-1

    # Override the id of the Sun Scorned potion effect. [range: -1 ~ 2147483647, default: -1]
    I:sunScornedId=-1

    # Override the id of the Taint Poison potion effect. [range: -1 ~ 2147483647, default: -1]
    I:taintPoisonId=-1

    # Override the id of the Thaumarhia potion effect. [range: -1 ~ 2147483647, default: -1]
    I:thaumarhiaId=-1

    # Override the id of the Unnatural Hunger potion effect. [range: -1 ~ 2147483647, default: -1]
    I:unnaturalHungerId=-1

    # Override the id of the Warp Ward potion effect. [range: -1 ~ 2147483647, default: -1]
    I:warpWardId=-1
}


primal_arrows {
    # Primal arrows can be shot from dispensers [default: true]
    B:canBeFiredFromDispensers=true
}


thaumcraft_performance {
    # Improves the particle engine of Thaumcraft by removing unnecessary GL operations. [default: true]
    B:betterParticleEngine=true

    # Improves the performance of the aspect tooltips by rewriting its logic. [default: true]
    B:improveAspectTooltipPerformance=true

    # Replaces slow reflection calls with quick accessors. [default: true]
    B:replaceReflection=true
}


tools {
    # When enabled, the Pickaxe of the Core will respect two new ore dictionary tags. Blocks labeled with
    # `salisarcana:elementalPickScanExclude` will never be detected by the pickaxe, while blocks labeled with
    # `salisarcana:elementalPickScanInclude` will be detected even if they normally would not. [default: true]
    B:elementalPickOredictFilter=true
}


