# Configuration file

##########################################################################################################
# toolparts
#--------------------------------------------------------------------------------------------------------#
# Restriction Module: Allows to blacklist certain ToolParts from being created with specific Materials!
# The allowed and restricted entries are (=should be) equal. They're just both there for visibility.
# Any material not listed in any category will stay untouched.
##########################################################################################################

toolparts {
    # This section is a negative of the above restricted section, and will be applied AFTER restricted parts.
    # That means only the parts listed here will be craftable, none of the other parts with this material.
    # If a Material does not show up here, it will be unmodified. Otherwise all other recipes for this material will be deleted.
    # ATTENTION: THIS DOES NOT ALLOW YOU TO ADD NEW RECIPES. ONLY EXISTING ONES WORK. This exists purely for convenience.(materialnames and partnames are the same as restricted parts) [default: [Wood:rod], [Wood:crossbar], [Wood:binding], [Wood:sign], [Wood:bowlimb], [Wood:crossbowlimb], [Wood:crossbowbody], [Flint:pickaxe], [Flint:shovel], [Flint:axe], [Flint:knifeblade], [Flint:arrowhead], [Flint:shuriken], [Bone:rod], [Bone:shovel], [Bone:axe], [Bone:crossbar], [Bone:knifeblade], [Bone:arrowhead], [Bone:bowlimb], [Bone:crossbowlimb], [Bone:crossbowbody], [Cactus:rod], [Cactus:binding], [Cactus:knifeblade], [Cactus:shuriken], [Paper:rod], [Paper:binding], [Slime:rod], [Slime:sign], [Slime:binding], [Slime:bowlimb], [Slime:crossbowlimb], [Slime:crossbowbody], [BlueSlime:rod], [BlueSlime:binding], [BlueSlime:bowlimb], [BlueSlime:crossbowlimb], [BlueSlime:crossbowbody], [Netherrack:rod], [Netherrack:pickaxe], [Netherrack:shovel], [Netherrack:axe], [Netherrack:largeguard], [Netherrack:mediumguard], [Netherrack:crossbar], [Netherrack:binding], [Netherrack:sign], [Netherrack:largerod], [Netherrack:toughbinding], [Netherrack:largeplate], [Netherrack:broadaxe], [Netherrack:scythe], [Netherrack:excavator], [Netherrack:fullguard], [Netherrack:arrowhead], [Netherrack:crossbowbody], [Obsidian:rod], [Obsidian:pickaxe], [Obsidian:shovel], [Obsidian:axe], [Obsidian:largeguard], [Obsidian:mediumguard], [Obsidian:crossbar], [Obsidian:binding], [Obsidian:sign], [Obsidian:largerod], [Obsidian:toughbinding], [Obsidian:largeplate], [Obsidian:broadaxe], [Obsidian:scythe], [Obsidian:excavator], [Obsidian:hammerhead], [Obsidian:fullguard], [Obsidian:arrowhead], [Obsidian:crossbowbody], [Obsidian:shuriken]]
    S:allowed <
        Wood:rod
        Wood:crossbar
        Wood:binding
        Wood:sign
        Wood:bowlimb
        Wood:crossbowlimb
        Wood:crossbowbody
        Flint:pickaxe
        Flint:shovel
        Flint:axe
        Flint:knifeblade
        Flint:arrowhead
        Flint:shuriken
        Bone:rod
        Bone:shovel
        Bone:axe
        Bone:crossbar
        Bone:knifeblade
        Bone:arrowhead
        Bone:bowlimb
        Bone:crossbowlimb
        Bone:crossbowbody
        Cactus:rod
        Cactus:binding
        Cactus:knifeblade
        Cactus:shuriken
        Paper:rod
        Paper:binding
        Slime:rod
        Slime:sign
        Slime:binding
        Slime:bowlimb
        Slime:crossbowlimb
        Slime:crossbowbody
        BlueSlime:rod
        BlueSlime:binding
        BlueSlime:bowlimb
        BlueSlime:crossbowlimb
        BlueSlime:crossbowbody
        Netherrack:rod
        Netherrack:pickaxe
        Netherrack:shovel
        Netherrack:axe
        Netherrack:largeguard
        Netherrack:mediumguard
        Netherrack:crossbar
        Netherrack:binding
        Netherrack:sign
        Netherrack:largerod
        Netherrack:toughbinding
        Netherrack:largeplate
        Netherrack:broadaxe
        Netherrack:scythe
        Netherrack:excavator
        Netherrack:fullguard
        Netherrack:arrowhead
        Netherrack:crossbowbody
        Obsidian:rod
        Obsidian:pickaxe
        Obsidian:shovel
        Obsidian:axe
        Obsidian:largeguard
        Obsidian:mediumguard
        Obsidian:crossbar
        Obsidian:binding
        Obsidian:sign
        Obsidian:largerod
        Obsidian:toughbinding
        Obsidian:largeplate
        Obsidian:broadaxe
        Obsidian:scythe
        Obsidian:excavator
        Obsidian:hammerhead
        Obsidian:fullguard
        Obsidian:arrowhead
        Obsidian:crossbowbody
        Obsidian:shuriken
     >

    # Prevents the creation of listed Material-Tool combinations.
    # The format is <materialname>:<partname>
    # materialnames are: Wood, Oureclase, Platinum, Stone, Prometheum, Electrum, Iron, Quicksilver, Flint, Tartarite, Cactus, Desichalkos, Bone, Eximite, Obsidian, Bloodwood, Netherrack, Darkwood, Slime, Fusewood, Paper, Ghostwood, Cobalt, Nether Quartz, Ardite, Manyullyn, Copper, Bronze, Alumite, Steel, Ender Amethyst, BlueSlime, Manasteel, PigIron, Terrasteel, Elementium, Thaumium, Fiery, Ironwood, Knightmetal, Steeleaf, Amethyst, Peridot, Ruby, Sapphire, String, Dark Steel, Void Metal, Glue, unstableIngot, Bedrockium, MagicWood, Angmallen, Damascus Steel, Hepatizon, Brass, Electrum, Plastic, Platinum, Pink Slime, Silver, Amordrine, Ceruclase, Ignatius, Inolashite, Kalendrite, Midasium, Sanguinite, Shadow Iron, Shadow Steel, Vulcanite, Vyroxeres, Adamantine, Astral Silver, Atlarus, Black Steel, Carmot, Celenegil, Deep Iron, Invar, Haderoth, Nickel, Mithril, Lead, Orichalcum, Silver
    # partnames are: scythe, rod, pickaxe, largeguard, sign, shovel, binding, swordblade, fullguard, arrowhead, axe, crossbowlimb, bowlimb, excavator, hammerhead, mediumguard, frypan, crossbar, toughbinding, crossbowbody, broadaxe, chisel, knifeblade, largerod, shuriken, largeplate, largeblade, 
    #  [default: ]
    S:restricted <
        Manasteel:scythe
        Manasteel:rod
        Manasteel:pickaxe
        Manasteel:largeguard
        Manasteel:shovel
        Manasteel:sign
        Manasteel:swordblade
        Manasteel:binding
        Manasteel:fullguard
        Manasteel:arrowhead
        Manasteel:axe
        Manasteel:crossbowlimb
        Manasteel:bowlimb
        Manasteel:excavator
        Manasteel:hammerhead
        Manasteel:mediumguard
        Manasteel:crossbar
        Manasteel:frypan
        Manasteel:toughbinding
        Manasteel:crossbowbody
        Manasteel:broadaxe
        Manasteel:chisel
        Manasteel:knifeblade
        Manasteel:largerod
        Manasteel:shuriken
        Manasteel:largeplate
        Manasteel:largeblade
        Terrasteel:scythe
        Terrasteel:rod
        Terrasteel:pickaxe
        Terrasteel:largeguard
        Terrasteel:shovel
        Terrasteel:sign
        Terrasteel:swordblade
        Terrasteel:binding
        Terrasteel:fullguard
        Terrasteel:arrowhead
        Terrasteel:axe
        Terrasteel:crossbowlimb
        Terrasteel:bowlimb
        Terrasteel:excavator
        Terrasteel:hammerhead
        Terrasteel:mediumguard
        Terrasteel:crossbar
        Terrasteel:frypan
        Terrasteel:toughbinding
        Terrasteel:crossbowbody
        Terrasteel:broadaxe
        Terrasteel:chisel
        Terrasteel:knifeblade
        Terrasteel:largerod
        Terrasteel:shuriken
        Terrasteel:largeplate
        Terrasteel:largeblade
        Elementium:scythe
        Elementium:rod
        Elementium:pickaxe
        Elementium:largeguard
        Elementium:shovel
        Elementium:sign
        Elementium:swordblade
        Elementium:binding
        Elementium:fullguard
        Elementium:arrowhead
        Elementium:axe
        Elementium:crossbowlimb
        Elementium:bowlimb
        Elementium:excavator
        Elementium:hammerhead
        Elementium:mediumguard
        Elementium:crossbar
        Elementium:frypan
        Elementium:toughbinding
        Elementium:crossbowbody
        Elementium:broadaxe
        Elementium:chisel
        Elementium:knifeblade
        Elementium:largerod
        Elementium:shuriken
        Elementium:largeplate
        Elementium:largeblade
        Thaumium:scythe
        Thaumium:rod
        Thaumium:pickaxe
        Thaumium:largeguard
        Thaumium:shovel
        Thaumium:sign
        Thaumium:swordblade
        Thaumium:binding
        Thaumium:fullguard
        Thaumium:arrowhead
        Thaumium:axe
        Thaumium:crossbowlimb
        Thaumium:bowlimb
        Thaumium:excavator
        Thaumium:hammerhead
        Thaumium:mediumguard
        Thaumium:crossbar
        Thaumium:frypan
        Thaumium:toughbinding
        Thaumium:crossbowbody
        Thaumium:broadaxe
        Thaumium:chisel
        Thaumium:knifeblade
        Thaumium:largerod
        Thaumium:shuriken
        Thaumium:largeplate
        Thaumium:largeblade
        Void Metal:scythe
        Void Metal:rod
        Void Metal:pickaxe
        Void Metal:largeguard
        Void Metal:shovel
        Void Metal:sign
        Void Metal:swordblade
        Void Metal:binding
        Void Metal:fullguard
        Void Metal:arrowhead
        Void Metal:axe
        Void Metal:crossbowlimb
        Void Metal:bowlimb
        Void Metal:excavator
        Void Metal:hammerhead
        Void Metal:mediumguard
        Void Metal:crossbar
        Void Metal:frypan
        Void Metal:toughbinding
        Void Metal:crossbowbody
        Void Metal:broadaxe
        Void Metal:chisel
        Void Metal:knifeblade
        Void Metal:largerod
        Void Metal:shuriken
        Void Metal:largeplate
        Void Metal:largeblade
     >
}


